#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    log         127.0.0.1 local2
    chroot      /var/empty
    pidfile     /var/run/haproxy.pid
    maxconn     10000
    user        haproxy
    group       haproxy
    daemon
    stats socket    /var/run/haproxy.stat mode 600 level admin

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           2m
    timeout connect         10s
    timeout client          2m
    timeout server          2m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

#---------------------------------------------------------------------
# Global Statistics
#---------------------------------------------------------------------
listen stats 
    bind {{ kube_master_ip }}:9000 
    mode http
    balance
    maxconn 10
    stats refresh 30s
    stats uri /haproxy_stats
    stats realm HAProxy\ Statistics
    stats admin if TRUE
    stats hide-version
    stats show-node

#---------------------------------------------------------------------
# main frontend which proxys to the backends
#---------------------------------------------------------------------
# - Frontend 
frontend frontend
    mode http
    bind {{ kube_master_ip }}:8080 
    default_backend		frontend-app

#---------------------------------------------------------------------
# static backend for serving up images, stylesheets and such
#---------------------------------------------------------------------
#---------------------------------------------------------------------
# round robin balancing between the various backends
#---------------------------------------------------------------------
backend frontend-app
    mode http
    balance     roundrobin
    server  app1 {{ kube_node1_ip }}:80 check
