127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{{ master_IP }}	kube-master
{{ node1_IP }}	kube-node1
{{ node2_IP }}	kube-node2
{{ node3_IP }}	kube-node3
{{ nfs_server_IP }}	kube-nfs-server

